[Unit]
Description=Dow Jones trader
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=~/btbot
ExecStart=~/btbot/.venv/bin/python dowtrader.py
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target