[Unit]
Description=FTSE UK trader
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/btbot
ExecStart=/opt/btbot/.venv/bin/python ftsetrader.py
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target