[Unit]
Description=OHLC Lightstreamer Data Collector
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/btbot_prod
ExecStart=/opt/btbot_prod/.venv/bin/python getprices.py
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target